.table {
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 100px;
}

.table th,
.table td {
  border: 1px solid #d1d1d1;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #3498db;
  color: #ffffff;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
